# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Atom files to ignore
.atom/.apm
.atom/.node-gyp
.atom/blob-store
.atom/compile-cache
.atom/dev
.atom/packages
.atom/storage
.atom/.DS_Store
node_modules
Gmail-darwin-x64
Google Calendar-darwin-x64

# VS Code
.vscode
