"*":
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "archive-view"
      "wrap-guide"
      "welcome"
    ]
    ignoredNames: [
      ".DS_Store"
    ]
  editor:
    fontSize: 13
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    softWrap: true
    tabLength: 4
    tabType: "hard"
  emmet: {}
  "exception-reporting":
    userId: "d16b539d-1513-572b-3c46-220fcd070c60"
  linter:
    lintOnChange: false
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-scss-lint":
    executablePath: "/usr/local/bin/scss-lint"
  "linter-ui-default":
    panelHeight: 210
  "markdown-preview":
    breakOnSingleNewline: true
  minimap:
    absoluteMode: true
  "one-dark-ui":
    fontSize: 13
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "sync-settings":
    _analyticsUserId: "b22a3c30-2919-4c1d-bde7-5c28dc639091"
    _lastBackupHash: "0a6649d05e96182986371356077f8b8c075768b3"
    gistId: "34db3654cf0e507044cf"
    personalAccessToken: "086f2a70e308380223d2cd0d5e61b0d48d395f0e"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace: {}
".coffee.source":
  editor:
    tabLength: 2
    tabType: "soft"
".raml.source":
  editor:
    softTabs: true
    tabLength: 2
    tabType: "soft"
".source.yaml":
  editor:
    softTabs: true
    tabLength: 2
    tabType: "soft"
