"*":
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "archive-view"
      "wrap-guide"
      "welcome"
    ]
    ignoredNames: [
      ".DS_Store"
    ]
  editor:
    fontSize: 13
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    softWrap: true
    tabLength: 4
    tabType: "hard"
  emmet: {}
  "exception-reporting":
    userId: "d16b539d-1513-572b-3c46-220fcd070c60"
  linter:
    lintOnChange: false
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-scss-lint":
    executablePath: "/usr/local/bin/scss-lint"
  "linter-ui-default": {}
  "markdown-preview":
    breakOnSingleNewline: true
  minimap:
    absoluteMode: true
  "one-dark-ui":
    fontSize: 13
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace: {}
".coffee.source":
  editor:
    tabLength: 2
    tabType: "soft"
".raml.source":
  editor:
    softTabs: true
    tabLength: 2
    tabType: "soft"
".source.yaml":
  editor:
    softTabs: true
    tabLength: 2
    tabType: "soft"
