packages: [
  "atom-material-syntax"
  "auto-indent"
  "busy-signal"
  "elm-format"
  "elmjutsu"
  "emmet"
  "file-icons"
  "github-atom-light-syntax"
  "goto-definition"
  "hyperclick"
  "intentions"
  "language-elm"
  "language-marko"
  "linter"
  "linter-eslint"
  "linter-scss-lint"
  "linter-ui-default"
  "native-ui"
  "open-on-bitbucket"
  "package-sync"
  "pigments"
]
