# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson

'.text.html .meta.tag':
  'th:classappend':
    'prefix': 'th:classappend'
    'body': 'th:classappend="${$1}"'
  'th:each':
    'prefix': 'th:each'
    'body': 'th:each="$1 : ${$2}"'
  'th:abbr':
    'prefix': 'th:abbr'
    'body': 'th:abbr="${$1}"'
  'th:accept':
    'prefix': 'th:accept'
    'body': 'th:accept="${$1}"'
  'th:accept-charset':
    'prefix': 'th:accept-charset'
    'body': 'th:accept-charset="${$1}"'
  'th:accesskey':
    'prefix': 'th:accesskey'
    'body': 'th:accesskey="${$1}"'
  'th:action':
    'prefix': 'th:action'
    'body': 'th:action="${$1}"'
  'th:align':
    'prefix': 'th:align'
    'body': 'th:align="${$1}"'
  'th:alt':
    'prefix': 'th:alt'
    'body': 'th:alt="${$1}"'
  'th:archive':
    'prefix': 'th:archive'
    'body': 'th:archive="${$1}"'
  'th:audio':
    'prefix': 'th:audio'
    'body': 'th:audio="${$1}"'
  'th:autocomplete':
    'prefix': 'th:autocomplete'
    'body': 'th:autocomplete="${$1}"'
  'th:axis':
    'prefix': 'th:axis'
    'body': 'th:axis="${$1}"'
  'th:background':
    'prefix': 'th:background'
    'body': 'th:background="${$1}"'
  'th:bgcolor':
    'prefix': 'th:bgcolor'
    'body': 'th:bgcolor="${$1}"'
  'th:border':
    'prefix': 'th:border'
    'body': 'th:border="${$1}"'
  'th:cellpadding':
    'prefix': 'th:cellpadding'
    'body': 'th:cellpadding="${$1}"'
  'th:cellspacing':
    'prefix': 'th:cellspacing'
    'body': 'th:cellspacing="${$1}"'
  'th:challenge':
    'prefix': 'th:challenge'
    'body': 'th:challenge="${$1}"'
  'th:charset':
    'prefix': 'th:charset'
    'body': 'th:charset="${$1}"'
  'th:cite':
    'prefix': 'th:cite'
    'body': 'th:cite="${$1}"'
  'th:class':
    'prefix': 'th:class'
    'body': 'th:class="${$1}"'
  'th:classid':
    'prefix': 'th:classid'
    'body': 'th:classid="${$1}"'
  'th:codebase':
    'prefix': 'th:codebase'
    'body': 'th:codebase="${$1}"'
  'th:codetype':
    'prefix': 'th:codetype'
    'body': 'th:codetype="${$1}"'
  'th:cols':
    'prefix': 'th:cols'
    'body': 'th:cols="${$1}"'
  'th:colspan':
    'prefix': 'th:colspan'
    'body': 'th:colspan="${$1}"'
  'th:compact':
    'prefix': 'th:compact'
    'body': 'th:compact="${$1}"'
  'th:content':
    'prefix': 'th:content'
    'body': 'th:content="${$1}"'
  'th:contenteditable':
    'prefix': 'th:contenteditable'
    'body': 'th:contenteditable="${$1}"'
  'th:contextmenu':
    'prefix': 'th:contextmenu'
    'body': 'th:contextmenu="${$1}"'
  'th:data':
    'prefix': 'th:data'
    'body': 'th:data="${$1}"'
  'th:datetime':
    'prefix': 'th:datetime'
    'body': 'th:datetime="${$1}"'
  'th:dir':
    'prefix': 'th:dir'
    'body': 'th:dir="${$1}"'
  'th:draggable':
    'prefix': 'th:draggable'
    'body': 'th:draggable="${$1}"'
  'th:dropzone':
    'prefix': 'th:dropzone'
    'body': 'th:dropzone="${$1}"'
  'th:enctype':
    'prefix': 'th:enctype'
    'body': 'th:enctype="${$1}"'
  'th:for':
    'prefix': 'th:for'
    'body': 'th:for="${$1}"'
  'th:form':
    'prefix': 'th:form'
    'body': 'th:form="${$1}"'
  'th:formaction':
    'prefix': 'th:formaction'
    'body': 'th:formaction="${$1}"'
  'th:formenctype':
    'prefix': 'th:formenctype'
    'body': 'th:formenctype="${$1}"'
  'th:formmethod':
    'prefix': 'th:formmethod'
    'body': 'th:formmethod="${$1}"'
  'th:formtarget':
    'prefix': 'th:formtarget'
    'body': 'th:formtarget="${$1}"'
  'th:frame':
    'prefix': 'th:frame'
    'body': 'th:frame="${$1}"'
  'th:frameborder':
    'prefix': 'th:frameborder'
    'body': 'th:frameborder="${$1}"'
  'th:headers':
    'prefix': 'th:headers'
    'body': 'th:headers="${$1}"'
  'th:height':
    'prefix': 'th:height'
    'body': 'th:height="${$1}"'
  'th:high':
    'prefix': 'th:high'
    'body': 'th:high="${$1}"'
  'th:href':
    'prefix': 'th:href'
    'body': 'th:href="${$1}"'
  'th:hreflang':
    'prefix': 'th:hreflang'
    'body': 'th:hreflang="${$1}"'
  'th:hspace':
    'prefix': 'th:hspace'
    'body': 'th:hspace="${$1}"'
  'th:http-equiv':
    'prefix': 'th:http-equiv'
    'body': 'th:http-equiv="${$1}"'
  'th:icon':
    'prefix': 'th:icon'
    'body': 'th:icon="${$1}"'
  'th:id':
    'prefix': 'th:id'
    'body': 'th:id="${$1}"'
  'th:keytype':
    'prefix': 'th:keytype'
    'body': 'th:keytype="${$1}"'
  'th:kind':
    'prefix': 'th:kind'
    'body': 'th:kind="${$1}"'
  'th:label':
    'prefix': 'th:label'
    'body': 'th:label="${$1}"'
  'th:lang':
    'prefix': 'th:lang'
    'body': 'th:lang="${$1}"'
  'th:list':
    'prefix': 'th:list'
    'body': 'th:list="${$1}"'
  'th:longdesc':
    'prefix': 'th:longdesc'
    'body': 'th:longdesc="${$1}"'
  'th:low':
    'prefix': 'th:low'
    'body': 'th:low="${$1}"'
  'th:manifest':
    'prefix': 'th:manifest'
    'body': 'th:manifest="${$1}"'
  'th:marginheight':
    'prefix': 'th:marginheight'
    'body': 'th:marginheight="${$1}"'
  'th:marginwidth':
    'prefix': 'th:marginwidth'
    'body': 'th:marginwidth="${$1}"'
  'th:max':
    'prefix': 'th:max'
    'body': 'th:max="${$1}"'
  'th:maxlength':
    'prefix': 'th:maxlength'
    'body': 'th:maxlength="${$1}"'
  'th:media':
    'prefix': 'th:media'
    'body': 'th:media="${$1}"'
  'th:method':
    'prefix': 'th:method'
    'body': 'th:method="${$1}"'
  'th:min':
    'prefix': 'th:min'
    'body': 'th:min="${$1}"'
  'th:name':
    'prefix': 'th:name'
    'body': 'th:name="${$1}"'
  'th:optimum':
    'prefix': 'th:optimum'
    'body': 'th:optimum="${$1}"'
  'th:pattern':
    'prefix': 'th:pattern'
    'body': 'th:pattern="${$1}"'
  'th:placeholder':
    'prefix': 'th:placeholder'
    'body': 'th:placeholder="${$1}"'
  'th:poster':
    'prefix': 'th:poster'
    'body': 'th:poster="${$1}"'
  'th:preload':
    'prefix': 'th:preload'
    'body': 'th:preload="${$1}"'
  'th:radiogroup':
    'prefix': 'th:radiogroup'
    'body': 'th:radiogroup="${$1}"'
  'th:rel':
    'prefix': 'th:rel'
    'body': 'th:rel="${$1}"'
  'th:rev':
    'prefix': 'th:rev'
    'body': 'th:rev="${$1}"'
  'th:rows':
    'prefix': 'th:rows'
    'body': 'th:rows="${$1}"'
  'th:rowspan':
    'prefix': 'th:rowspan'
    'body': 'th:rowspan="${$1}"'
  'th:rules':
    'prefix': 'th:rules'
    'body': 'th:rules="${$1}"'
  'th:sandbox':
    'prefix': 'th:sandbox'
    'body': 'th:sandbox="${$1}"'
  'th:scheme':
    'prefix': 'th:scheme'
    'body': 'th:scheme="${$1}"'
  'th:scope':
    'prefix': 'th:scope'
    'body': 'th:scope="${$1}"'
  'th:scrolling':
    'prefix': 'th:scrolling'
    'body': 'th:scrolling="${$1}"'
  'th:size':
    'prefix': 'th:size'
    'body': 'th:size="${$1}"'
  'th:sizes':
    'prefix': 'th:sizes'
    'body': 'th:sizes="${$1}"'
  'th:span':
    'prefix': 'th:span'
    'body': 'th:span="${$1}"'
  'th:spellcheck':
    'prefix': 'th:spellcheck'
    'body': 'th:spellcheck="${$1}"'
  'th:src':
    'prefix': 'th:src'
    'body': 'th:src="${$1}"'
  'th:srclang':
    'prefix': 'th:srclang'
    'body': 'th:srclang="${$1}"'
  'th:standby':
    'prefix': 'th:standby'
    'body': 'th:standby="${$1}"'
  'th:start':
    'prefix': 'th:start'
    'body': 'th:start="${$1}"'
  'th:step':
    'prefix': 'th:step'
    'body': 'th:step="${$1}"'
  'th:style':
    'prefix': 'th:style'
    'body': 'th:style="${$1}"'
  'th:summary':
    'prefix': 'th:summary'
    'body': 'th:summary="${$1}"'
  'th:tabindex':
    'prefix': 'th:tabindex'
    'body': 'th:tabindex="${$1}"'
  'th:target':
    'prefix': 'th:target'
    'body': 'th:target="${$1}"'
  'th:title':
    'prefix': 'th:title'
    'body': 'th:title="${$1}"'
  'th:type':
    'prefix': 'th:type'
    'body': 'th:type="${$1}"'
  'th:usemap':
    'prefix': 'th:usemap'
    'body': 'th:usemap="${$1}"'
  'th:value':
    'prefix': 'th:value'
    'body': 'th:value="${$1}"'
  'th:valuetype':
    'prefix': 'th:valuetype'
    'body': 'th:valuetype="${$1}"'
  'th:vspace':
    'prefix': 'th:vspace'
    'body': 'th:vspace="${$1}"'
  'th:width':
    'prefix': 'th:width'
    'body': 'th:width="${$1}"'
  'th:wrap':
    'prefix': 'th:wrap'
    'body': 'th:wrap="${$1}"'
  'th:xmlbase':
    'prefix': 'th:xmlbase'
    'body': 'th:xmlbase="${$1}"'
  'th:xmllang':
    'prefix': 'th:xmllang'
    'body': 'th:xmllang="${$1}"'
  'th:xmlspace':
    'prefix': 'th:xmlspace'
    'body': 'th:xmlspace="${$1}"'
  'th:async':
    'prefix': 'th:async'
    'body': 'th:async="${$1}"'
  'th:autofocus':
    'prefix': 'th:autofocus'
    'body': 'th:autofocus="${$1}"'
  'th:autoplay':
    'prefix': 'th:autoplay'
    'body': 'th:autoplay="${$1}"'
  'th:checked':
    'prefix': 'th:checked'
    'body': 'th:checked="${$1}"'
  'th:controls':
    'prefix': 'th:controls'
    'body': 'th:controls="${$1}"'
  'th:declare':
    'prefix': 'th:declare'
    'body': 'th:declare="${$1}"'
  'th:default':
    'prefix': 'th:default'
    'body': 'th:default="${$1}"'
  'th:defer':
    'prefix': 'th:defer'
    'body': 'th:defer="${$1}"'
  'th:disabled':
    'prefix': 'th:disabled'
    'body': 'th:disabled="${$1}"'
  'th:formnovalidate	':
    'prefix': 'th:formnovalidate	'
    'body': 'th:formnovalidate="${$1}"'
  'th:hidden	':
    'prefix': 'th:hidden	'
    'body': 'th:hidden="${$1}"'
  'th:ismap':
    'prefix': 'th:ismap'
    'body': 'th:ismap="${$1}"'
  'th:loop':
    'prefix': 'th:loop'
    'body': 'th:loop="${$1}"'
  'th:multiple':
    'prefix': 'th:multiple'
    'body': 'th:multiple="${$1}"'
  'th:novalidate':
    'prefix': 'th:novalidate'
    'body': 'th:novalidate="${$1}"'
  'th:nowrap':
    'prefix': 'th:nowrap'
    'body': 'th:nowrap="${$1}"'
  'th:open':
    'prefix': 'th:open'
    'body': 'th:open="${$1}"'
  'th:pubdate':
    'prefix': 'th:pubdate'
    'body': 'th:pubdate="${$1}"'
  'th:readonly':
    'prefix': 'th:readonly'
    'body': 'th:readonly="${$1}"'
  'th:required':
    'prefix': 'th:required'
    'body': 'th:required="${$1}"'
  'th:reversed':
    'prefix': 'th:reversed'
    'body': 'th:reversed="${$1}"'
  'th:scoped	':
    'prefix': 'th:scoped	'
    'body': 'th:scoped="${$1}"'
  'th:seamless':
    'prefix': 'th:seamless'
    'body': 'th:seamless="${$1}"'
  'th:selected':
    'prefix': 'th:selected'
    'body': 'th:selected="${$1}"'
  'th:include':
    'prefix': 'th:include'
    'body': 'th:include="${$1}"'
  'th:replace':
    'prefix': 'th:replace'
    'body': 'th:replace="${$1}"'
  'th:each':
    'prefix': 'th:each'
    'body': 'th:each="${$1}"'
  'th:if':
    'prefix': 'th:if'
    'body': 'th:if="${$1}"'
  'th:unless':
    'prefix': 'th:unless'
    'body': 'th:unless="${$1}"'
  'th:switch':
    'prefix': 'th:switch'
    'body': 'th:switch="${$1}"'
  'th:case':
    'prefix': 'th:case'
    'body': 'th:case="${$1}"'
  'th:object':
    'prefix': 'th:object'
    'body': 'th:object="${$1}"'
  'th:with':
    'prefix': 'th:with'
    'body': 'th:with="${$1}"'
  'th:attr':
    'prefix': 'th:attr'
    'body': 'th:attr="${$1}"'
  'th:attrprepend':
    'prefix': 'th:attrprepend'
    'body': 'th:attrprepend="${$1}"'
  'th:attrappend':
    'prefix': 'th:attrappend'
    'body': 'th:attrappend="${$1}"'
  'th:value':
    'prefix': 'th:value'
    'body': 'th:value="${$1}"'
  'th:href':
    'prefix': 'th:href'
    'body': 'th:href="${$1}"'
  'th:src':
    'prefix': 'th:src'
    'body': 'th:src="${$1}"'
  'th:text':
    'prefix': 'th:text'
    'body': 'th:text="${$1}"'
  'th:utext':
    'prefix': 'th:utext'
    'body': 'th:utext="${$1}"'
  'th:fragment':
    'prefix': 'th:fragment'
    'body': 'th:fragment="${$1}"'
  'th:remove':
    'prefix': 'th:remove'
    'body': 'th:remove="${$1}"'
